.table-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.table-container {
    width: 100%;

    th {
        padding: 0.75rem 0.5rem;
        vertical-align: middle;
        background-color: #fcf4f4;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }

    td {
        padding: 0.75rem 0.5rem;
        vertical-align: middle;
        text-align: center;
    }
}